/* Styles Reset */
*,
::after,
::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

button,
input,
textarea {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

:root {
  --colors-red: hsl(0, 100%, 66%);
  --colors-white: hsl(0, 0%, 100%);
  --colors-light-grayish-violet: hsl(270, 3%, 87%);
  --colors-dark-grayish-violet: hsl(279, 6%, 55%);
  --colors-very-dark-violet: hsl(278, 68%, 11%);
  --gradients-primary: linear-gradient(
    to-right,
    hsl(249, 99%, 64%),
    hsl(278, 94%, 30%)
  );
}
